{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block title %}Водитель — Автопарк «Ветерок»{% endblock %}

{% block content %}
<h1 class="mb-4">
    {% if form.instance.pk %}
        <i class="bi bi-pencil"></i> Редактирование водителя
    {% else %}
        <i class="bi bi-plus-circle"></i> Новый водитель
    {% endif %}
</h1>

<div class="card">
    <div class="card-body">
        <form method="post">
            {% csrf_token %}
            {{ form|crispy }}
            <div class="mt-3">
                <button type="submit" class="btn btn-success">
                    <i class="bi bi-check-circle"></i> Сохранить
                </button>
                <a href="{% url 'driver_list' %}" class="btn btn-secondary">
                    <i class="bi bi-x-circle"></i> Отмена
                </a>
            </div>
        </form>
    </div>
</div>
{% endblock %}